<!-- dispositivo_detalle.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Detalle del Dispositivo</title>
    <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
    <script>
        var pusher = new Pusher('{{ pusher_key }}', {
            cluster: '{{ settings.PUSHER_CLUSTER }}'
        });

        var channel = pusher.subscribe('{{ pusher_channel }}');
        channel.bind('location-update', function(data) {
            // Actualiza tu DOM con los nuevos datos aquí
            console.log(data);
        });
    </script>
</head>
<body>
    <h1>Detalle del Dispositivo: {{ dispositivo.imei }}</h1>
    <!-- Aquí puedes agregar más HTML para mostrar la información del dispositivo -->
</body>
</html>
