{% extends "layouts/base.html" %}  <!-- Asume que tienes una plantilla base.html -->
{% block content %}
<h2>Lista de Dispositivos</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre del Dispositivo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for dispositivo in dispositivos %}
        <tr>
            <td>{{ dispositivo.id }}</td>
            <td>{{ dispositivo.nombre }}</td>
            <td>
                <a href="{% url 'detalle_dispositivo' dispositivo.id %}">Ver Detalles</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

