{% extends "layouts/base.html" %}
{% block content %}
<div class="container">
    <h2>Vehículos</h2>
    <a href="{% url 'crear_vehiculo' %}" class="btn btn-primary">Crear Nuevo Vehículo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Modelo</th>
                <th>Marca</th>
                <!-- Agrega más columnas según sea necesario -->
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for vehiculo in vehiculos %}
            <tr>
                <td>{{ vehiculo.matricula }}</td>
                <td>{{ vehiculo.modelo }}</td>
                <td>{{ vehiculo.marca }}</td>
                <!-- Agrega más celdas según sea necesario -->
                <td>
                    <a href="{% url 'editar_vehiculo' vehiculo.id %}" class="btn btn-sm btn-outline-secondary">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
